.form--box-input {

	&:not(:last-child) {
		padding-bottom: 25px;
	}
}

.form--content-input {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.form--input {
	flex: 1 1 480px;
	background: var(--white);
	border-radius: 10px;
	height: 60px;
	padding: 0 20px;
	border: 1px solid var(--milk);
}

[data-theme="dark"] .form--input {
	background: none;
	color: var(--black);
	border: 1px solid var(--grey);
	&:focus {
		outline: none;
		border: 1px solid var(--purple);
	}
}

.form--input-icon {
	position: absolute;
	right: 15px;
}

.form--error-message {
	padding-top: 10px;
	font-size: 14.5px;
	color: var(--red);
}

.form--forgot-password {
	display: block;
	font-weight: 700;
	font-size: 20px;
	color: var(--milk);
	padding-top: 20px;
}