.todo--popapAddTask {
	position: absolute;
	z-index: 30;
	visibility: hidden;
	opacity: 0;
	border-radius: 16px;
	width: 500px;
	height: 289px;
	border: 1px solid var(--black);
	background-color: var(--bg);
	padding: 18px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin: 0 10px;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	@media (max-width: 540px) {
		width: auto;
	}
}

.popapAddTask--input-addTask {
	flex: 1 1 auto;
}

.popapAddTask--title {
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	text-transform: uppercase;
	color: var(--black);
	padding-bottom: 25px;
}

.popapAddTask--input {
	border: 1px solid var(--purple);
	border-radius: 5px;
	padding: 0 16px;
	height: 38px;
	width: 100%;
	color: var(--black);

	&::placeholder {
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: var(--milk);
	}
}

.popapAddTask--btn-action {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popapAddTask--button-cancel {
	border: 1px solid var(--purple);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 38px;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	text-transform: uppercase;
	color: var(--purple);
}

.popapAddTask--button-apply {
	border-radius: 5px;
	width: 97px;
	height: 38px;
	background-color: var(--purple);
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	text-transform: uppercase;
	color: var(--white);
}

.popapAddTask--button-apply-isRenameMode {}