@import './null.scss';

@import url("https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap");



body {
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #181821;
	min-width: 320px;
	overflow-x: hidden;
}

[class*="--container"] {
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: 1200px){
		max-width: 970px
	}
	@media (max-width: 992px){
		max-width: 750px;
	} 
	@media (max-width: 768px){
		max-width: none;		  
	}
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: clip;
	justify-content: center;

}

.error--404 {
	text-align: center;
	font-size: 26px;
}