.registration {
	position: relative;
	padding: 50px 0;
}

.registration--form {
	flex: 0 1 480px;

	@media (max-width: 768px) {
		order: 2;
	}
}

.registration--body {
	display: flex;
	align-items: center;
	gap: 50px;

	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: end;
	}
}

.registration--body_signin {
	@media (min-width: 768px) {
		justify-content: end;
	}
}

.registration--body_signup {
	@media (min-width: 768px) {
		justify-content: start;
	}

}
