.todo {
	padding: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	&.active {
		&::after {
			content: '';
			position: absolute;
			z-index: 4;
			opacity: 0.1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--black);
		}
	}
}

.todo--container {}

.todo--body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo--title {
	font-weight: 700;
	font-size: 30px;
	color: var(--black);
	text-align: center;
	padding-bottom: 18px;
}

.todo--content {}

.todo--header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	max-width: 750px;
	margin: 0 auto;
	padding-bottom: 50px;
}