.todo {
	display: flex;
	align-items: center;
	justify-content: center;
	&.active {
		&::after {
			content: '';
			position: absolute;
			z-index: 4;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #00000052;
		}
	}
}

.todo--container {}

.todo--body {}

.todo--title {
	font-weight: 700;
	font-size: 30px;
	color: #252525;
	text-align: center;
	padding-bottom: 18px;
}

.todo--content {}

.todo--header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	max-width: 750px;
	margin: 0 auto;
	padding-bottom: 50px;
}
