.todo--seacrh-task {
	position: relative;
	display: flex;
	align-items: center;
	flex: 0 1 595px;

	img {
		position: absolute;
		right: 10px;
		padding: 5px;
	}

}

.todo--seacrh {
	display: block;
	border: 1px solid var(--purple);
	border-radius: 5px;
	padding: 8px 16px;
	width: 100%;
	color: var(--black);

	&::placeholder {
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: var(--milk);
	}

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}